<ion-view view-title="main">
  <ion-content class="" ng-controller="MainCtrl">

        <div class ="row">
            <div class="col col-33">
                <input type="image" src="img/Vegetable/vegetable.jpg" width="100%" height="100%" ng-click="OpenVegetablePage()">
            </div>
            <div class="col col-33">
                <input type="image" src="img/meat/meat.jpg" width="100%" height="100%" ng-click="OpenMeatPage()"/>
            </div>
            <div class="col col-33">
                <input type="image" src="img/Ingredient/ingredient.jpg" width="100%" height="100%" ng-click="OpenIngredientPage()" />
            </div>
        </div>
        <div class="row">
            <div class="col col-33">
                <h4 class="eag-home-label" align="center" style="color:green">Vegetables</h4>
            </div>
            <div class="col col-33">
                <h4 class="eag-home-label" align="center" style="color:red">Meat</h4>
            </div>
            <div class="col col-33">
                <h4 class="eag-home-label" align="center" style="color:orange">Ingredient</h4>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h5 style="color:blue;text-align:center"> select the available items in your kitchen</h5>
            </div>
        </div>

    </ion-content>
</ion-view>
