<ion-tabs class="tabs-icon-only tabs-color-calm">
    <!-- Home Tab -->
    <ion-tab title="Home" icon-off="ion-home" icon-on="ion-home" ui-sref="tab.main">
        <ion-nav-view name="tab-main"></ion-nav-view>
    </ion-tab>
     <!-- Vegetable Tab -->
     <ion-tab  ui-sref="tab.vegetable" class="disabled">
        <ion-nav-view name="tab-vegetable"></ion-nav-view>
    </ion-tab>
    <!-- Meat Tab -->
    <ion-tab ui-sref="tab.meat" class="disabled">
        <ion-nav-view name="tab-meat"></ion-nav-view>
    </ion-tab> 
    <!-- Ingredient Tab -->
    <ion-tab ui-sref="tab.ingredient" class="disabled">
        <ion-nav-view name="tab-ingredient"></ion-nav-view>
    </ion-tab>  
</ion-tabs>
 
       
 