<ion-view  view-title="select vegetable">
  <ion-content class="padding" ng-controller="VegetableCtrl">
      <div>
          <a ng-href="#/tab/vegetable/a" id="linkA">A </a> 
          <a ng-href="#/tab/vegetable/b" id="linkB">B</a>    
          <a ng-href="#/tab/vegetable/c" id="linkC">C</a>
          <a ng-href="#/tab/vegetable/d" id="linkD">D</a>
          <a ng-href="#/tab/vegetable/e" id="linkE">E</a>
          <a ng-href="#/tab/vegetable/f" id="linkF">F</a>
          <a ng-href="#/tab/vegetable/g" id="linkG">G</a>
          <a ng-href="#/tab/vegetable/h" id="linkH">H</a>
          <a ng-href="#/tab/vegetable/i" id="linkI">I</a>
          <a ng-href="#/tab/vegetable/j" id="linkJ">J</a>
          <a ng-href="#/tab/vegetable/k" id="linkK">K</a>
          <a ng-href="#/tab/vegetable/l" id="linkL">L</a>
          <a ng-href="#/tab/vegetable/m" id="linkM">M</a>
          <a ng-href="#/tab/vegetable/n" id="linkN">N</a>
          <a ng-href="#/tab/vegetable/o" id="linkO">O</a>
          <a ng-href="#/tab/vegetable/p" id="linkP">P</a>
          <a ng-href="#/tab/vegetable/q" id="linkQ">Q</a>
          <a ng-href="#/tab/vegetable/r" id="linkR">R</a>
          <a ng-href="#/tab/vegetable/s" id="linkS">S</a>
          <a ng-href="#/tab/vegetable/t" id="linkT">T</a>
          <a ng-href="#/tab/vegetable/u" id="linkU">U</a>
          <a ng-href="#/tab/vegetable/v" id="linkV">V</a>
          <a ng-href="#/tab/vegetable/w" id="linkW">W</a>
          <a ng-href="#/tab/vegetable/x" id="linkX">X</a>
          <a ng-href="#/tab/vegetable/y" id="linkY">Y</a>
          <a ng-href="#/tab/vegetable/z" id="linkZ">Z</a>
        </div>   
       
        <!--first row A-->       
        <div class="row">
            <div class="col" >
                <img src="img/vegetable/artichoke.jpg" width="20%" height="20%"/>               
            </div>    
            <div class="col">
                <img src="img/vegetable/aubergine.jpg" width="20%" height="20%"/>               
            </div>           
        </div>         
        <div class="row">
            <div class="col checkbox-balanced">
                <!--<ion-checkbox ng-model="artichoke" class="checkbox checkbox-positive">artichoke</ion-checkbox>-->
                <label class="checkbox"><input type="checkbox">artichoke </label>
            </div>
            <div class="col checkbox-balanced">
                <!--<ion-checkbox ng-model="aubergine" class="checkbox checkbox-positive">aubergine</ion-checkbox>-->
                <label class="checkbox">
                        <input type="checkbox">aubergine
                </label>
            </div>
        </div>

        <!--first row B-->       
        <div class="row">
            <div class="col " >
                    <img src="img/vegetable/bean-sprouts.jpg" width="35%" height="35%"/>                      
            </div>    
            <div class="col">
                <img src="img/vegetable/beetroot.jpg"  width="35%" height="35%"/>               
            </div>
            <div class="col">
                    <img src="img/vegetable/bitter melon.jpg" width="35%" height="35%"/>   
            </div>
        </div>
        <div class="row">
            <div class="col checkbox-balanced">                      
                <label class="checkbox"><input type="checkbox">bean sprouts </label>
            </div>    
            <div class="col checkbox-balanced">                       
                <label class="checkbox">
                        <input type="checkbox">beetroot
                </label>
            </div>
            <div class="col checkbox-balanced">     
                <label class="checkbox">
                        <input type="checkbox">bitter melon
                </label>
            </div>
        </div>
       
        <!--second row B-->
        <div class="row">
            <div class="col">
                 <img src="img/vegetable/Bok-Choy.jpg" width="35%" height="35%"/>              
            </div>    
            <div class="col">
                <img src="img/vegetable/broad beans.jpg"  width="35%" height="35%"/>                   
            </div>
            <div class="col">
                <img src="img/vegetable/broccoli.jpg" width="35%" height="35%"/>               
            </div>
        </div>
        <div class="row">
            <div class="col checkbox-balanced">                      
                <label class="checkbox">
                        <input type="checkbox">bok choy
                </label>
            </div>    
            <div class="col checkbox-balanced">                       
                <label class="checkbox">
                        <input type="checkbox">broad beans
                </label>
            </div>
            <div class="col checkbox-balanced">                       
                    <label class="checkbox">
                        <input type="checkbox">broccoli
                </label>
            </div>
        </div>

        <!--first row C-->       
        <div class="row">
            <div class="col">
                <img src="img/vegetable/cabbage.jpg" width="35%" height="35%"/>                
            </div>
            <div class="col">
                <img src="img/vegetable/carrots.jpg"  width="35%" height="35%"/>              
            </div>    
            <div class="col">
                <img src="img/vegetable/cauliflower.jpg" width="35%" height="35%"/>                
            </div>            
        </div>
        <div class="row">
            <div class="col checkbox-balanced">                             
                 <label class="checkbox">
                        <input type="checkbox">cabbage
                </label>
            </div>    
            <div class="col checkbox-balanced">                             
                 <label class="checkbox">
                        <input type="checkbox">carrot
                </label>
            </div>
            <div class="col checkbox-balanced">                
                <label class="checkbox">
                        <input type="checkbox">cauliflower
                </label>
            </div>
        </div>
       <!--2nd row C-->   
       <div class="row">
            <div class="col">
                <img src="img/vegetable/celeriac.jpg" width="35%" height="35%"/>                
            </div>
            <div class="col ">
                <img src="img/vegetable/celery.jpg"  width="35%" height="35%"/>              
            </div>    
            <div class="col">
                <img src="img/vegetable/Chilli.jpg" width="35%" height="35%"/>                
            </div>
            
        </div>
        <div class="row">
            <div class="col checkbox-balanced"">                
                <label class="checkbox">
                        <input type="checkbox">celeriac
                </label>
            </div>    
            <div class="col checkbox-balanced"">                               
                 <label class="checkbox">
                        <input type="checkbox">celery
                </label>
            </div>
            <div class="col checkbox-balanced"">                              
                <label class="checkbox">
                        <input type="checkbox">chilli
                </label>
            </div>
        </div>
        <!--3rd row C-->   
        <div class="row">
            <div class="col">
                <img src="img/vegetable/chinese broccoli.jpg" width="35%" height="35%"/>                
            </div>            
            <div class="col">
                <img src="img/vegetable/chinese cabbage.jpg" width="35%" height="35%"/>                
            </div>
              <div class="col">
                <img src="img/vegetable/courgette.jpg" width="35%" height="35%"/>                
            </div>    
        </div>        
        <div class="row">
            <div class="col checkbox-balanced"">                             
                 <label class="checkbox">
                        <input type="checkbox">chinese broccoli
                </label>
            </div>               
             <div class="col checkbox-balanced"">                             
                 <label class="checkbox">
                        <input type="checkbox">chinese cabbage
                </label>
            </div>
            <div class="col checkbox-balanced"">                             
                 <label class="checkbox">
                        <input type="checkbox">courgette
                </label>
            </div>  
        </div>

         <!--4th row C-->   
        <div class="row">
            <div class="col">
                <img src="img/vegetable/cucumber.jpg" width="15%" height="15%"/>                
            </div>            
              
        </div>        
        <div class="row">
            <div class="col checkbox-balanced"">                             
                 <label class="checkbox">
                        <input type="checkbox">cucumber
                </label>
            </div>
        </div>

        <div></div>
        <!--BUTTON add-->
        <div class="row">
            <div class="col" style="text-align:right">
                <button class="button button-positive" >Add vegetable</button>
            </div>
        </div>
  </ion-content>
</ion-view>
